.Button_button__TyCE7 {
    border-radius: .875rem;
    background: transparent;
    background-color: #F7374F;
    border: none;
    outline: none;
    padding: 0;
    color: #fff;
    font-weight: 600;
    transition: background .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .Button_button__TyCE7.Button_disabled__jTDW4 {
    background-color: #a8a6a6;
    cursor: not-allowed;
  }
  
  .Button_button__TyCE7 > svg {
    margin-right: .3125rem;
  }
  
  a.Button_button__TyCE7 {
    text-decoration: none;
  }
  
  .Button_small__ItMvq {
    min-width: 8.75rem;
    min-height: 2.5rem;
    font-size: 1rem;
  }
  
  .Button_medium__4dkiB {
    min-width: 9.375rem;
    min-height: 2.875rem;
    font-size: 1rem;
  }
  
  .Button_large__yGmds {
    min-width: 10.625rem;
    min-height: 3.25rem;
    font-size: 1.125rem;
  }
  
  .Button_button__TyCE7:hover:not(.Button_disabled__jTDW4) {
    background-color: #F7374F;
    cursor: pointer;
  }
  
  .Switch_switch__Z5CgT {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F7374F;
    border-radius: .875rem;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
  }
  
  .Switch_switch__Z5CgT input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  
  .Switch_switch__Z5CgT label {
    border-radius: .875rem;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    color: #fff;
    font-weight: 600;
    transition: color .1s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-width: 9.375rem;
    min-height: 2.875rem;
    font-size: 1rem;
    position: relative;
    transition: color .3s;
  }
  
  .Switch_switch__Z5CgT label:hover {
    cursor: pointer;
  }
  
  .Switch_container__HqO3K span {
    position: absolute;
    display: inline-block;
    min-width: 9.625rem;
    min-height: 2.875rem;
    background-color: #fff;
    border-radius: .875rem;
    pointer-events: none;
  }
  
  .Switch_switch__Z5CgT label:first-of-type:before {
    content: none;
  }
  
  .Switch_switch__Z5CgT input:checked + label {
    color: #ef2d5b;
  }
  
  @media only screen and (max-width: 900px) {
    .Switch_switch__Z5CgT label {
      min-width: 5.625rem;
      min-height: 2.875rem;
    }
    
    .Switch_container__HqO3K span {
      min-width: 5.875rem;
      min-height: 2.875rem;
    }
  }
  
  .Containers_content__7dsLq + div,
  .Containers_horizontal__vnC2y + div {
    margin-top: 2.5rem;
  }
  
  .Containers_horizontal__vnC2y {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .Containers_horizontal__vnC2y > * {
    margin: 0 2rem;
  }
  
  .Containers_horizontal__vnC2y > :first-child {
    margin-left: 0;
  }
  
  .Containers_horizontal__vnC2y > :last-child {
    margin-right: 0;
  }
  
  .Containers_content__7dsLq {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 25%;
    margin: 0;
  }
  
  .Containers_content__7dsLq + .Containers_content__7dsLq {
    align-items: flex-end;
  }
  
  .Containers_content__7dsLq > h1 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  
  .Containers_content__7dsLq > p {
    font-size: 1.125rem;
    color: #a8a6a6;
    max-width: 43.75rem;
  }
  
  .Containers_content__7dsLq > h3 {
    font-size: 1.5rem;
    color: #a8a6a6;
    font-weight: 400;
    margin: 1rem 0;
    max-width: 29.375rem;
  }
  
  .Containers_content__7dsLq > h3 > strong {
    font-weight: 700;
    color: #fff;
  }
  
  .Containers_content__7dsLq > span {
    font-size: 1rem;
    color: #525252;
  }
  
  .Containers_content__7dsLq.Containers_centered__7xR0G h3 {
    font-size: 1.75rem;
    margin: 0 0 -10px;
    font-weight: 600;
  }
  
  .Containers_content__7dsLq.Containers_centered__7xR0G h1 {
    line-height: 90%;
  }
  
  .Containers_content__7dsLq.Containers_centered__7xR0G p {
    margin-bottom: 1rem;
  }
  
  .Containers_centered__7xR0G {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  @media only screen and (max-width: 900px) {
    .Containers_content__7dsLq,
    .Containers_horizontal__vnC2y {
      flex-wrap: wrap;
    }
    
    .Containers_horizontal__vnC2y {
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
    }
    
    .Containers_horizontal__vnC2y > * {
      margin: .5rem 0;
    }
    
    .Containers_horizontal__vnC2y > :first-child {
      margin-top: 1rem;
    }
    
    .Containers_horizontal__vnC2y > :last-child {
      margin-bottom: 1rem;
    }
    
    .Containers_cardContainer__5k9uB {
      margin: 0;
    }
  }
  
  .Download_card__RKE6t {
    width: 17.5rem;
    height: 18.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2f3031;
    border-radius: .875rem;
    box-sizing: border-box;
    padding: 1.25rem;
  }
  
  .Download_card__RKE6t svg {
    width: 7.5rem;
    height: auto;
  }
  
  .Download_card__RKE6t a,
  .Download_card__RKE6t button {
    position: relative;
    bottom: -1.75rem;
    width: 100%;
  }
  
  .Download_container__ah6h_ {
    flex-direction: row;
  }
  
  @media only screen and (max-width: 900px) {
    .Download_container__ah6h_ {
      flex-direction: column;
    }
  }
  